name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps: 
      - name: Print Name
        run: echo "Hello Srijesh"
      - name: Print Close Statement
        run: echo "Thank you Mr. Khanal. See you again. Good Bye"
